<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-light bg-light fixed-top d-flex justify-content-center" style="font-variant: small-caps;font-family: auto;box-shadow: 0px .2px 2px .5px rgba(0,0,0,.15);">
	<a class="navbar-brand" href="/" style="">
		movies express
	</a>
</nav>